/* base framwork */

body {
    background: lightblue;
    text-align: center;
    width: 240px;
    margin: auto;    
}

#Game {
    border: .1em solid black;
    border-radius: 1em;
    padding: 10px;
    width: 168px;
    transform: rotate(-90deg);
    margin: auto;
}

#ScoreBoard {
    border: .1em solid black;
    border-radius: 30px;
    min-height: 2em;
}

/* Pieces */
piece {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    display: inherit;
}

.redpiece {
    background-color: red;
}

.blackpiece {
    background-color: black;
}

.clearpiece {
    background-color: white;
}