body {
    background: lightcyan;
    text-align: center;
    width: 300px;
    margin: auto;    
}

#Game {
    border: .1em solid black;
    border-radius: 1em;
    min-height: 100px;
    margin-bottom: 1em;
}

#ScoreBoard {
    border: .1em solid black;
    border-radius: 30px;
    min-height: 2em;
}